{% set title_pag = 'Especialista' %}
{% include 'header_con_todo.html' %}
<!-- Página médico especialista. -->
<div class="shadow p-3 mb-5 card tarjeta">
  <div class="card-body">
    <h3 class="card-title">Tractaments actuals</h3>
  </div>
  {% if has_trats %}
  <ul class="list-group list-group-flush">
    {% for trat, valor in pac.tratamientos.items() %}
      {% if valor %}
        <li class="list-group-item">{{trat_names[trat]}}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% else %}
  <div class="alert alert-primary" role="alert">
    No hay medicación asignada.
  </div>
  {% endif %}
  <div class="card-body">
    <a href="#" class="card-link">Editar</a>
  </div>
</div>
<div class="shadow p-3 mb-5 mt-4 card tarjeta">
  <div class="card-body">
    <h3 class="card-title">Últimas visitas a urgencias</h3>
  </div>
  {% if pac.urgencias %}
  <ul class="list-group list-group-flush">
    {% for visita in pac.urgencias %}
      <li class="list-group-item flex">
        <span><strong>Fecha:</strong> {{visita.fecha.strftime('%d/%m/%y %H:%M') }}</span>
        <ul>
          <li><em>Tratamientos asignados:</em> {%for trat in visita.tratamientos_dados %}{{trat_names[trat]}}{%if not loop.last%}, {%endif%}{%endfor%}.</li>
          <li><em>El algoritmo sugirió:</em> {%for trat in visita.tratamientos_algo %}{{trat_names[trat]}}{%if not loop.last%}, {%endif%}{%endfor%}.</li>
        </ul>
      </li>
    {% endfor %}
  </ul>
  {%else%}
  <div class="alert alert-primary" role="alert">
    El paciente no ha visitado la urgencia en los últimos 5 años.
  </div>
  {% endif %}
</div>

<form action="/guardar_malalties?dest=/especialista/{{pac.id}}" method="POST">
  <input type="hidden" name="id" value="{{ pac.id }}">
<!--inmuno deprimido, fumador-->
<div class="shadow p-3 my-4 card tarjeta">
  <div class="card-body">
    <div class="form-header">
      <h3 class="card-title">Factores de riesgo</h3>
    </div>
    <div class="row mx-1">
      <div class="form-check col-md-6">
        <input class="form-check-input" type="checkbox" id="immuno" name="immunodeprimit" {% if pac.immunodeprimit %}checked{% endif %}>
        <label class="form-check-label" for="immuno">
          Inmunodeprimit
        </label>
      </div>
      <div class="form-check col-md-6">
        <input class="form-check-input" type="checkbox" id="fumador" name="fumador" {% if pac.fumador %}checked{% endif %}>
        <label class="form-check-label" for="fumador">
          Fumador
        </label>
      </div>
    </div>
  </div>
</div>
<div class="shadow p-3 my-4 card tarjeta">
  <div class="card-body">
    <div class="form-header">
      <h3 class="card-title">Causes d’agudització</h3>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="virus" id="virus" {% if pac.AgudMPID['virus'] %}checked{% endif %}>
      <label class="form-check-label" for="virus">
        Infecció viral
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="pneumocystis_jirovecii" id="pneumocystis_jirovecii" {% if pac.AgudMPID['pneumocystis_jirovecii'] %}checked{% endif %}>
      <label class="form-check-label" for="pneumocystis_jirovecii">
        Pneumocystis jirovecii
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="cmv" id="cmv" {% if pac.AgudMPID['cmv'] %}checked{% endif %}>
      <label class="form-check-label" for="cmv">
        Citomegalovirus
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="insuficiencia_cardiaca_esquerra" id="insuficiencia_cardiaca_esquerra" {% if pac.AgudMPID['insuficiencia_cardiaca_esquerra'] %}checked{% endif %}>
      <label class="form-check-label" for="insuficiencia_cardiaca_esquerra">
        Insuficiència cardíaca esquerra
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="tromboembolisme_pulmonar" id="tromboembolisme_pulmonar" {% if pac.AgudMPID['tromboembolisme_pulmonar'] %}checked{% endif %}>
      <label class="form-check-label" for="tromboembolisme_pulmonar">
        Tromboembolisme pulmonar (inclosa embòlia grassa)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="farmacs" id="farmacs" {% if pac.AgudMPID['farmacs'] %}checked{% endif %}>
      <label class="form-check-label" for="farmacs">
        Fàrmacs
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="transfusio_de_sang" id="transfusio_de_sang" {% if pac.AgudMPID['transfusio_de_sang'] %}checked{% endif %}>
      <label class="form-check-label" for="transfusio_de_sang">
        Transfusió de sang
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="inhalacio_aguda_toxics_pulmonars" id="inhalacio_aguda_toxics_pulmonars" {% if pac.AgudMPID['inhalacio_aguda_toxics_pulmonars'] %}checked{% endif %}>
      <label class="form-check-label" for="inhalacio_aguda_toxics_pulmonars">
        Inhalació aguda de tòxics pulmonars
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="reflux_gastroesofagic" id="reflux_gastroesofagic" {% if pac.AgudMPID['reflux_gastroesofagic'] %}checked{% endif %}>
      <label class="form-check-label" for="reflux_gastroesofagic">
        Reflux gastroesofàgic (RGE)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="causes_abdomen_agut" id="causes_abdomen_agut" {% if pac.AgudMPID['causes_abdomen_agut'] %}checked{% endif %}>
      <label class="form-check-label" for="causes_abdomen_agut">
        Causes d’abdomen agut (pancreatitis, apendicitis, peritonitis, etc.)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="intervencions_quirurgiques_prèvies" id="intervencions_quirurgiques_prèvies" {% if pac.AgudMPID['intervencions_quirurgiques_prèvies'] %}checked{% endif %}>
      <label class="form-check-label" for="intervencions_quirurgiques_prèvies">
        Intervencions quirúrgiques en les setmanes prèvies
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="procediments_invasius_prèvies" id="procediments_invasius_prèvies" {% if pac.AgudMPID['procediments_invasius_prèvies'] %}checked{% endif %}>
      <label class="form-check-label" for="procediments_invasius_prèvies">
        Procediments invasius (endoscòpia, radioteràpia) en les setmanes prèvies
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="pneumotorax" id="pneumotorax" {% if pac.AgudMPID['pneumotorax'] %}checked{% endif %}>
      <label class="form-check-label" for="pneumotorax">
        Pneumotòrax
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="contusio_pulmonar" id="contusio_pulmonar" {% if pac.AgudMPID['contusio_pulmonar'] %}checked{% endif %}>
      <label class="form-check-label" for="contusio_pulmonar">
        Contusió pulmonar
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exacerbacio_aguda" id="exacerbacio_aguda" {% if pac.AgudMPID['exacerbacio_aguda'] %}checked{% endif %}>
      <label class="form-check-label" for="exacerbacio_aguda">
        Exacerbació aguda (ExA) de la malaltia pulmonar intersticial de base (com en la FPI)
      </label>
    </div>
    <hr class="my-4">
    <button class="w-100 btn btn-primary" type="submit">Guardar</button>
  </div>
</div>
</form>




{% include 'footer.html' %}
