<div class="shadow p-3 card tarjeta" style="margin-bottom: 3rem;">
  <div class="card-body">
    <div class="form-header">
      <h3 class="card-title">Formulari de Símptomes</h3>
    </div>
    <p>¿Quins d'aquets síntomes presentes?</p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="increment_o_aparcio_ofeg" id="increment_o_aparcio_ofeg" {% if pac.sintomas['increment_o_aparcio_ofeg'] %}checked{% endif %}>
      <label class="form-check-label" for="increment_o_aparcio_ofeg">
        Increment o aparició d’ofeg
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="tos_en_els_darrers_dies" id="tos_en_els_darrers_dies" {% if pac.sintomas['tos_en_els_darrers_dies'] %}checked{% endif %}>
      <label class="form-check-label" for="tos_en_els_darrers_dies">
          Tos en els darrers dies (màxim darreres 2 setmanes)
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="increment_mucositat" id="increment_mucositat" {% if pac.sintomas['increment_mucositat'] %}checked{% endif %}>
      <label class="form-check-label" for="increment_mucositat">
          Increment mucositat
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="congestio_nasal" id="congestio_nasal" {% if pac.sintomas['congestio_nasal'] %}checked{% endif %}>
      <label class="form-check-label" for="congestio_nasal">
          Congestió nasal
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="dolor_gola" id="dolor_gola" {% if pac.sintomas['dolor_gola'] %}checked{% endif %}>
      <label class="form-check-label" for="dolor_gola">
          Dolor gola
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="febre" id="febre" {% if pac.sintomas['febre'] %}checked{% endif %}>
      <label class="form-check-label" for="febre">
          Febre
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="dolor_toracic" id="dolor_toracic" {% if pac.sintomas['dolor_toracic'] %}checked{% endif %}>
      <label class="form-check-label" for="dolor_toracic">
          Dolor toràcic
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="xiulets" id="xiulets" {% if pac.sintomas['xiulets'] %}checked{% endif %}>
      <label class="form-check-label" for="xiulets">
          Xiulets
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="mal_estat_general" id="mal_estat_general" {% if pac.sintomas['mal_estat_general'] %}checked{% endif %}>
      <label class="form-check-label" for="mal_estat_general">
          Mal estat general
      </label>
    </div>
    <div class="my-3">
      <label class="form-label">Altres símptomes</label>
      <textarea class="form-control" name="altres" rows="2">{{pac.altres_sint}}</textarea>
    </div>
    {% if sin_todos %}

    <hr class="my-4">
    <div>
      <p>¿Quines condicions té el pacient?</p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="desaturacio" id="desaturacio" {% if pac.sintomas['desaturacio'] %}checked{% endif %}>
      <label class="form-check-label" for="desaturacio">
          Desaturacio
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="increment_respiracions" id="increment_respiracions" {% if pac.sintomas['increment_respiracions'] %}checked{% endif %}>
      <label class="form-check-label" for="increment_respiracions">
          Increment respiracions
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="tiratge_muscular_per_respirar" id="tiratge_muscular_per_respirar" {% if pac.sintomas['tiratge_muscular_per_respirar'] %}checked{% endif %}>
      <label class="form-check-label" for="tiratge_muscular_per_respirar">
          Tiratge muscular per respirar
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="ofeg_en_repos" id="ofeg_en_repos" {% if pac.sintomas['ofeg_en_repos'] %}checked{% endif %}>
      <label class="form-check-label" for="ofeg_en_repos">
          Ofeg en repos
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="auscultacio_de_xiulets" id="auscultacio_de_xiulets" {% if pac.sintomas['auscultacio_de_xiulets'] %}checked{% endif %}>
      <label class="form-check-label" for="auscultacio_de_xiulets">
          Auscultacio de xiulets
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="to_blau_distal" id="to_blau_distal" {% if pac.sintomas['to_blau_distal'] %}checked{% endif %}>
      <label class="form-check-label" for="to_blau_distal">
          To blau distal
      </label>
    </div>
    <div class="my-3">
      <label class="form-label">Altres condicions</label>
      <textarea class="form-control" rows="2"></textarea>
    </div>
    {% endif %}
