<div class="card tarjeta">
  <div class="card-body">
  <div class="form-header">
    <h1>Formulari de Símptomes</h1>
  <div>
  <p>¿Quins d'aquets síntomes presentes?</p>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="increment_o_aparcio_ofeg">
    <!--{{ pac.sintomas['increment_o_aparcio_ofeg'] }}-->
    <label class="form-check-label">
      Increment o aparició d’ofeg
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="tos_en_els_darrers_dies">
    <label class="form-check-label">
        Tos en els darrers dies (màxim darreres 2 setmanes)
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="increment_mucositat">
    <label class="form-check-label">
        Increment mucositat
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="congestio_nasal">
    <label class="form-check-label">
        Congestió nasal
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="dolor_gola">
    <label class="form-check-label">
        Dolor gola
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="febre">
    <label class="form-check-label">
        Febre
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="dolor_toracic">
    <label class="form-check-label">
        Dolor toràcic
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="xiulets">
    <label class="form-check-label">
        Xiulets
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="mal_estat_general">
    <label class="form-check-label">
        Mal estat general
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="altres_simptomes">
    <label class="form-check-label">
        Altres símptomes
    </label>
  </div>
  </div>
</div>
