{% include 'header_con_todo.html' %}
<style>
#tarjeta {
  margin: 0 auto;
  max-width: 40rem;
}
</style>
<div class="shadow p-3 mb-5  card" id="tarjeta">
  <img src="https://cardiologiabellvitge.cat/images/slideshow/slide01.jpg" class="img-fluid" >
  <div class="card-body text-center">
    <h3 class="card-title">Vostè és...</h3>
    <a href="/paciente/1" class="btn btn-primary py-2">Pacient</a>
    <a href="/leerqr?destino=especialista" class="btn btn-primary py-2">Metge especialista</a>
    <a href="/leerqr?destino=urgencia" class="btn btn-primary py-2">Metge d'urgència</a>
  </div>
</div>

{% include 'footer_con_todo.html' %}
