{% include 'header.html' %}
<!--Página de escaneo de QR. Una vez leído, redirige a página especialista o urgencia.-->
<link rel="stylesheet" href="/static/lector-qr.css">
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="formulario w-100 m-auto">
  <h1 class="h3 mb-3 fw-normal text-center">Lectura QR</h1>
  <div class="form-floating">
    <div id="reader"></div>
  </div>
</main>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script>
const urlParams = new URLSearchParams(window.location.search);
const destino = urlParams.get('destino');
function cargarPaginaDestino(idPaciente) {
  idParsed = parseInt(idPaciente);
  if (isNaN(idParsed)) {
    idParsed = 1;
  }
  if (destino === 'especialista') {
    window.location.href = `/especialista/${idParsed}`;
  } else if (destino === 'urgencia') {
    window.location.href = `/urgencia/${idParsed}`;
  }
}

function onScanSuccess(decodedText, decodedResult) {
  // handle the scanned code as you like, for example:
  console.log(`Code matched = ${decodedText}`, decodedResult);
  cargarPaginaDestino(decodedText);
}

function onScanFailure(error) {
  // handle scan failure, usually better to ignore and keep scanning.
  // for example:
  console.warn(`Code scan error = ${error}`);
}

let html5QrcodeScanner = new Html5QrcodeScanner(
  "reader",
  { fps: 10, qrbox: {width: 250, height: 250} },
  /* verbose= */ false);
html5QrcodeScanner.render(onScanSuccess, onScanFailure);
</script>
{% include 'footer.html' %}
