{% set title_pag = 'Iniciar sesión' %}
{% include 'header.html' %}
<style>
.form-signin {
  max-width: 330px;
  padding: 1rem;
}
</style>
<body class="bg-body-tertiary">
  <div class="mt-5 pt-4 form-signin container">
<main class="m-auto text-center">
  <form action="/iniciar_sesion" method="POST">
    <img class="mb-4" src="https://cardiologiabellvitge.cat/images/slideshow/slide01.jpg" width="100%" >
    <!--<img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
    <h1 class="h3 mb-3 fw-normal">Iniciar sessió</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="user" name="user" placeholder="CIP" value="1" style="border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;">
      <label for="user">CIP</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Contraseña" value="1234" style="border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);">
      <label for="password">Contrasenya</label>
    </div>
    <button class="mt-3 btn btn-primary w-100 py-2" type="submit">Accedir</button>
  </form>
</main>
</div>
</body>
</div>
