{% include 'header_con_todo.html' %}
<!--Formulario de paciente va aquí.-->
<form action="/guardar_sintomas?dest=/paciente/{{pac.id}}" method="POST">
  <input type="hidden" name="id" value="{{ pac.id }}">

  {% set sin_todos = False %}
  {% include 'form_sintomas.html' %}

  <hr class="my-4">
  <button class="w-100 btn btn-primary" type="submit">Guardar</button>
  </div></div>
</form>
<!--Una vez actualizado, vamos a página con QR.-->
<script>
const urlParams = new URLSearchParams(window.location.search);
const id = urlParams.get('id') || '1';

console.log(`cargando datos para ${id}`);
// todo: los datos ya los carga la template; quitar llamada a 'datos_paciente'.
fetch(`/datos_paciente/${id}`, {
  method: 'GET',
  headers: {
    'Accept': 'application/json',
  },
})
 .then(res => res.json())
 .then(res => console.log(JSON.stringify(res)));
</script>
{% include 'footer.html' %}
