{% include 'header_con_todo.html' %}
<!--Formulario de paciente va aquí.-->
<form action="/guardar_paciente" method="POST">
  <input type="hidden" name="id" value="{{ pac.id }}">
  <div class="form-header">
    <h1>Formulari de Símptomes</h1>
  </div>
  <h3>¿Cuáles de estos síntomas presentas?</h3>
  <form action="#" method="post">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          Increment o aparició d’ofeg i/o tos en els darrers dies (màxim darreres 2 setmanes), sense altres símptomes o amb altres símptomes
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          Increment mucositat i congestió nasal
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          Increment mucositat i dolor gola
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          Increment mucositat i febre
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          Dolor toràcic
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          Xiulets
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          Increment de la mucositat, mal estat general, +/- congestió nasal o dolor gola
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          Dolor toràcic e increment d’ofec sense tos ni altres símptomes
      </label>
    </div>
    <hr class="my-4">
    <button class="w-100 btn btn-primary btn-lg" type="submit">Guardar</button>
  </form>
 </div>
</form>

<!--<form action="/guardar_paciente" method="POST">

  <input type="hidden" name="nombre" value="Hola!">
  <button type="submit">Actualizar</button>
</form>-->

Una vez actualizado, vamos a página con QR.

<script>
const urlParams = new URLSearchParams(window.location.search);
const id = urlParams.get('id') || '1';

console.log(`cargando datos para ${id}`);
// todo: los datos ya los carga la template; quitar llamada a 'datos_paciente'.
fetch(`/datos_paciente/${id}`, {
  method: 'GET',
  headers: {
    'Accept': 'application/json',
  },
})
 .then(res => res.json())
 .then(res => console.log(JSON.stringify(res)));
</script>
{% include 'footer.html' %}
