{% set title_pag = 'Resultado' %}
{% include 'header_con_todo.html' %}
<style>
  .detalle {
    text-emphasis: emphasis;
  }
</style>

<!--Enseñar resultados algoritmo, registro resultados y checkbox de tratamientos suministrados.-->
{% if res.bronco %}
<div class="shadow alert alert-danger" role="alert">
  Aquest pacient té una MPID fibròtica i està sota tractament específic pel seu metge especialista, eviti tractaments broncodilatadors.
</div>
{% endif %}

<div class="shadow card mb-4">
  <div class="card-body">
    <p>{{res.mensaje }}</p>
  </div>
</div>

<form action="/guardar_trats?dest=/especialista/{{pac.id}}" method="POST">
  <input type="hidden" name="id" value="{{ pac.id }}">
  <input type="hidden" name="res" value="{{ res_ix }}">
<div class="shadow p-3 my-4 card tarjeta">
  <div class="card-body">
    <div class="form-header">
      <h3 class="card-title">Tratamientos suministrados</h3>
      <p>Marque los medicamentos asignados, y desactive las contraindicaciones.</p>
    </div>
    <form>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="piperacilina_tazobactam" id="piperacilina_tazobactam" {% if 'piperacilina_tazobactam' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="piperacilina_tazobactam">
      Piperacilina/Tazobactam <span class="detalle">4g/0,5g cada 8h e.v.</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="cefalosporina" id="cefalosporina" {% if 'cefalosporina' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="cefalosporina">
      Cefalosporina <span class="detalle">3ª generació</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="levofloxacino" id="levofloxacino" {% if 'levofloxacino' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="levofloxacino">
      Levofloxacino <span class="detalle">500mg/24h v.o.</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="oseltamivir" id="oseltamivir" {% if 'oseltamivir' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="oseltamivir">
      Oseltamivir <span class="detalle">75mg/12h v.o.</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="ganciclovir" id="ganciclovir" {% if 'ganciclovir' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="ganciclovir">
      Ganciclovir <span class="detalle">5mg/Kg pes/12h e.v.</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="sulfametoxazol_trimetoprim" id="sulfametoxazol_trimetoprim" {% if 'sulfametoxazol_trimetoprim' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="sulfametoxazol_trimetoprim">
      Sulfametoxazol/trimetoprim <span class="detalle">800/160 mg/12h v.o.</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="ac_folic" id="ac_folic" {% if 'ac_folic' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="ac_folic">
      Àc. Fòlic
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="omeprazol" id="omeprazol" {% if 'omeprazol' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="omeprazol">
      Omeprazol <span class="detalle">20mg/12-24h e.v.</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="n_acetilcisteina" id="n_acetilcisteina" {% if 'n_acetilcisteina' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="n_acetilcisteina">
      N-acetilcisteïna <span class="detalle">600mg/8h v.o.</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="morfina" id="morfina" {% if 'morfina' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="morfina">
      Morfina <span class="detalle">2,5-5mg s.c.</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="bemiparina" id="bemiparina" {% if 'bemiparina' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="bemiparina">
      Bemiparina <span class="detalle">2500-3500 UI/0,2 mL (segons Kg pes) s.c./dia</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="metilprednisolona" id="metilprednisolona" {% if 'metilprednisolona' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="metilprednisolona">
      Metilprednisolona <span class="detalle">1-2 mg/Kg pes/d e.v.</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="losartan" id="losartan" {% if 'losartan' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="losartan">
      Losartan <span class="detalle">50mg/24h v.o.</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="calci_vitamina_d" id="calci_vitamina_d" {% if 'calci_vitamina_d' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="calci_vitamina_d">
      Calci + Vitamina D <span class="detalle">500mg/400 UI 2comp/d v.o.</span>
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="tinzaparina" id="tinzaparina" {% if 'tinzaparina' in res.tratamientos_algo%}checked{% endif %}>
    <label class="form-check-label" for="tinzaparina">
      Tinzaparina <span class="detalle">20000UI/0,5-0,9 mL (segons Kg pes)</span>
    </label>
  </div>
</form>

    <hr class="my-4">
    <button class="w-100 btn btn-primary" type="submit">Guardar</button>
  </div>
</div>
</form>

{% include 'footer_con_todo.html' %}
