{% set title_pag = 'Urgencia' %}
{% include 'header_con_todo.html' %}

<form action="/guardar_sintomas?correr_algo=1" method="POST">
  <input type="hidden" name="id" value="{{ pac.id }}">
  {% set sin_todos = True %}
  {% include 'form_sintomas.html' %}
  </div></div></div>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Diagnóstico</h3>
    <!--# Tipos de diagnóstico:
# - concret_pneumo
# - concret_no_pneumo
# - no_concret-->
<div class="row mt-4 mx-1">
  <input type="radio" class="btn-check" name="diagnostico" value="concret_pneumo" id="concret_pneumo" autocomplete="off" checked>
  <label class="col-md-4 btn" for="concret_pneumo">Pneumònia</label>

  <input type="radio" class="btn-check" name="diagnostico" value="concret_no_pneumo" id="concret_no_pneumo" autocomplete="off">
  <label class="col-md-4 btn" for="concret_no_pneumo">No pneumònia</label>

  <input type="radio" class="col-md-4 btn-check" name="diagnostico" value="no_concret" id="no_concret" autocomplete="off">
  <label class="col-md-4 btn" for="no_concret">No concret</label>
</div>
  <hr class="my-4">
  <button class="w-100 btn btn-primary" type="submit">Continuar</button>
</div>
</form>
{% include 'footer_con_todo.html' %}
