{% set title_pag = nombrePac %}
{% include 'header.html' %}
<!--Esta página enseña el QR del paciente.-->

<link rel="stylesheet" href="/static/lector-qr.css">
<style>
  #codigoqr > img {
    margin: 0 auto;
  }
</style>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="formulario w-100 m-auto">
  <h1 class="h3 mb-3 fw-normal text-center">{{nombrePac}}</h1>
  <div class="form-floating">
    <div class="text-center" id="codigoqr"></div>
    <p style="margin-top: 3rem;">Este código QR contiene información importante que puede ser necesaria para tu atención médica. Enséñalo al médico de cabecera o al personal de urgencias cuando sea necesario.</p>
    <h5 class="mt-4">Instrucciones</h5>
    <ol>
      <li>Guarda este QR en tu dispositivo o imprímelo si prefieres llevarlo contigo.</li>
      <li>Muéstralo al personal sanitario para que puedan acceder a la información de manera rápida y segura.</li>
    </ol>
  </div>
</main>

<script src="https://unpkg.com/qrcode-js-package@1.0.4/qrcode.min.js" type="text/javascript"></script>
<script>
const urlParams = new URLSearchParams(window.location.search);
const idPaciente = urlParams.get('id');
var qrcode = new QRCode("codigoqr", {
  text: idPaciente,
  width: 256,
  height: 256,
  colorDark : "#000000",
  colorLight : "#ffffff",
  correctLevel : QRCode.CorrectLevel.H
});
</script>
{% include 'footer.html' %}
